* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    height: calc(100vh - 12vh - 10vh); 
    width: 100vw;
    position: relative; 
    top: 70px; 
    padding: 50px 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.content img {
    height: 520px;
    width: 350px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.content-book {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ten {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Short Stack", cursive;
}

.ten p {
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

.condition,
.status,
.author,
.intro {
    cursor: default;
    background-color: white;
    border: 3px dashed black;
    border-radius: 25px;
    padding: 20px 30px;
    box-shadow: 8px 5px 0px 0px #555555;
}

.condition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.condition i {
    cursor: pointer;
}

.condition .options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border: 2px dashed black;
    border-radius: 8px;
    margin-top: -15px;
    margin-right: 20px;
    display: none; 
    z-index: 10;
    width: 100px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.condition .option {
    cursor: pointer;
    padding: 8px 12px;
}

.condition .option:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.intro-scroll {
    max-height: 100px;
    overflow-y: auto;
    scrollbar-width: none; 
}

.product-info {
    display: flex;
    flex-direction: column;
    font-family: "Short Stack", cursive;
    gap: 20px;
}

.price-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-1 p {
    color: orangered;
    font-size: 24px;
    cursor: default;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub,
.add{
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.val {
    width: 60px;
    height: 35px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    font-family: "Short Stack", cursive;
}

.select {
    display: flex;
    justify-content: space-between;
}

.cart-btn,
.buy-now-btn {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 1rem;
    cursor: pointer;
}

.cart-btn {
    background-color: #ecf83d;
    padding: 10px 15px;
    font-size: 24px;
    width: 45%;
    color: black;
}

.buy-now-btn {
    background-color: #ff8c42;
    color: black;
    font-weight: lighter;
    width: 45%;
}
.view-more {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    font-family: "Short Stack", cursive;
    font-size: 25px;
    cursor: default;
}

.book {
    font-family: "Short Stack", cursive;
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap;
    gap: 40px 95px;
}

.sach1 a {
    text-decoration: none;
    color: inherit; 
}

.biasach {
    height: 240px;
    width: 160px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    cursor: pointer;
}

.tensach {
    display: flex;
    justify-content: center;
    width: 160px;
    margin-bottom: 5px;
    cursor: default;
}

.price-2 {
    font-family: "Short Stack", cursive;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: default;
}

.price-2 p {
    color: rgb(231, 20, 4);
}

.price-2 button {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 4px;
    font-family: "Short Stack", cursive;
    font-size: 12px;
    cursor: pointer;
    background-color: yellow;
    font-weight: bold;
}

